//ACCOUNTS
#login-buttons
	display: flex;
	align-items: stretch;
	
	.login-link-and-dropdown-list
		display: flex;
		align-items: stretch;
		line-height: 50px;
	
	a 
		text-decoration: none;
				
		&.login-link-text 
			padding: 0 padding

	.accounts-dialog
		right: 11px !important;
		padding: 10px 20px 20px 20px;
		border: border;
		background: #fff;
		border-radius: 0px;
		box-shadow: none;
	
	.login-button,
	.login-button:active
		background: green;
		border-radius: 0;
		padding: 10px;
		border: none;
		
		&:hover
			background: darken(green, 10%);
	
	.login-image
		display: none;
		
	.text-besides-image
		margin-left: 0;
		
	#login-buttons input[type=text],
	#login-buttons input[type=email],
	#login-buttons input[type=password], 
	.accounts-dialog input[type=text],
	.accounts-dialog input[type=email],
	.accounts-dialog input[type=password]
		padding: 10px 5px;
		border: 1px solid #DDD;
		border-radius: 0px;
		line-height: 1;
		outline: none;

		