/*BASE*/
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body
	background: #ddd;
	font-size: 14px;
	overflow-x: hidden;

.container
	center(xlarge)
	
	display: flex;
	flex-direction: row;
	min-height: 100vh;
	overflow: hidden;